[submodule "deploy"]
	path = deploy
	url = https://github.com/anggxyz/tb-deploy-demo
  branch = main
[submodule "sdk"]
	path = sdk-create-t3
	url = https://github.com/anggxyz/tb-sdk-demo
[submodule "sdk-create-wagmi"]
	path = sdk-create-wagmi
	url = https://github.com/anggxyz/tb-sdk-demo-create-wagmi
